<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarUsers" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Users
        </a>
        <div class="dropdown-menu" aria-labelledby="Users">
          <a routerLink="/users" class="dropdown-item"> List Users</a>
          <a routerLink="/addUser" class="dropdown-item">Add User</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCountries" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Countries
        </a>
        <div class="dropdown-menu" aria-labelledby="Countries">
          <a routerLink="/countries" class="dropdown-item"> List Countries</a>
          <a routerLink="/addCountry" class="dropdown-item">Add Country</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarLangs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Languages
        </a>
        <div class="dropdown-menu" aria-labelledby="Languages">
          <a routerLink="/langs" class="dropdown-item"> List Languages</a>
          <a routerLink="/addLang" class="dropdown-item">Add Language</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--  <a routerLink="/users"> List Users</a>-->
<!--  <a style="margin-left:10px" routerLink="/addUser">Add User</a>-->
